<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/c8c273e1c8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="../../generic.css">
  <title>Actividades</title>
</head>

<body>
  <main>
    <section class="activity" id="activities-1">
      <section class="illustration">
        <div>
          <h1 class="title">Ejercicios de espalda</h1>
        </div>
        <div class="image">
          <img
            src="https://as01.epimg.net/deporteyvida/imagenes/2017/06/24/portada/1498306561_902969_1498306872_noticia_normal_recorte1.jpg">
        </div>
      </section>
      <section class="specs">
        <div class="description">
          <h2 class="subtitle"><i class="fas fa-check-circle"></i> Descripción</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo ea repellat aspernatur aliquid repellendus cumque officia velit, unde porro eos. Enim ducimus natus deleniti beatae nihil quod autem perspiciatis necessitatibus.</p>
        </div>
        <div class="difficulty">
          <h3 class="subtitle"><i class="fas fa-user-check"></i> dificultad</h3>
          <div class="difficulty-tag hard">difícil</div>
          <section class="controllers">
            <a href="#activities-3" class="btn no-link">anterior</a>        
            <a href="#activities-2" class="btn no-link">Siguiente</a>
          </section>
        </div>
      </section>
    </section>

    <section class="activity" id="activities-2">
      <section class="illustration">
        <div>
          <h1 class="title">Ejercicios de piernas</h1>
        </div>
        <div class="image">
          <img
            src="../../img/maquina-extension-de-cuadriceps.jpg">
        </div>
      </section>
      <section class="specs">
        <div class="description">
          <h2 class="subtitle"><i class="fas fa-check-circle"></i> Descripción</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo ea repellat aspernatur aliquid repellendus cumque officia velit, unde porro eos. Enim ducimus natus deleniti beatae nihil quod autem perspiciatis necessitatibus.</p>
        </div>
        <div class="difficulty">
          <h3 class="subtitle"><i class="fas fa-user-check"></i> dificultad</h3>
          <div class="difficulty-tag easy">fácil</div>
          <section class="controllers">
            <a href="#activities-1" class="btn no-link">anterior</a>        
            <a href="#activities-3" class="btn no-link">Siguiente</a>
          </section>
        </div>
      </section>
    </section>

    <section class="activity" id="activities-3">
      <section class="illustration">
        <div>
          <h1 class="title">Ejercicios de brazos</h1>
        </div>
        <div class="image">
          <img
            src="https://curadas.com/wp-content/uploads/2019/09/Entrenando-con-pesas-1.jpg">
        </div>
      </section>
      <section class="specs">
        <div class="description">
          <h2 class="subtitle"><i class="fas fa-check-circle"></i> Descripción</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo ea repellat aspernatur aliquid repellendus cumque officia velit, unde porro eos. Enim ducimus natus deleniti beatae nihil quod autem perspiciatis necessitatibus.</p>
        </div>
        <div class="difficulty">
          <h3 class="subtitle"><i class="fas fa-user-check"></i> dificultad</h3>
          <div class="difficulty-tag medium">media</div>
          <section class="controllers">
            <a href="#activities-2" class="btn no-link">anterior</a>        
            <a href="#activities-1" class="btn no-link">Siguiente</a>
          </section>
        </div>
      </section>
    </section>
  </main>
</body>

</html>